html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
  min-width: 280px;
}

.navBarHome {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-image: url('images/mountaineering.jpg');
  background-size: cover;
  background-color: #b6b7c7;
  height: 100vh;
  font-weight: bolder;
}

.navBar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-image: url('images/mountaineering.jpg');
  background-size: cover;
  background-color: #b6b7c7;
  font-weight: bolder;
  height: 5em;
}

nav {
  font-family: 'Noto Sans JP';
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  font-weight: bold;
  color: white;
  letter-spacing: 0.2em;
  height: 5em;
}

.scrollArrowNav {
  height: 4em;
  width: 4em;
  margin-bottom: 0.5em;
  filter: brightness(500%);
}

.scrollArrow {
  height: 4em;
  width: 4em;
  margin-bottom: 0.5em;
  filter: brightness(-500%);
  filter: contrast(100%);
}

.scrollArrowNav:hover {
  filter: brightness(5000%);
}

.scrollArrow:hover {
  filter: brightness(0%);
}

#title {
  min-width: 293px;
  margin: 1em;
  flex: 3;
  font-size: 1.45em;
}

#titleLink {
  display: flex;
  justify-content: space-around;
}

#separator {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

#navLinks {
  flex: 2;
  display: flex;
  margin: 1em;
  margin-bottom: 0.25em;
  align-content: center;
  justify-content: space-around;
}

label {
  display: block;
}

form div {
  margin: 1em;
  display: inline-block;
}

footer {
  width: 100%;
  background-color: rgb(147, 184, 201);
  margin-top: 5em;
  display: flex;
  justify-content: space-around;
}

footer > div {
  flex-basis: 33%;
  margin: 2em;
}

.footerTitle {
  color: white;
  font-weight: bolder;
  margin-top: 0;
  margin-bottom: 0.7em;
}

.footerLinkBox {
  display: flex;
  flex-direction: column;
}

.footerLink {
  color: black;
}

.footerNavBox {
  display: flex;
  justify-content: center;
}

.footerNav {
  width: 7em;
}

#container {
  display: flex;
  flex-direction: column;
}

.sectionBox {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

#about {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.sectionName {
  margin-top: 2em;
  text-align: center;
  font-size: xx-large;
  font-weight: bold;
}

.aboutBox {
  display: flex;
  padding: 3em;
  padding-top: 0em;
  width: 1024px;
}

.aboutPhotoBox {
  display: flex;
  align-items: center;
}

#aboutPhoto {
  max-width: 360px;
  max-height: 360px;
  width: 20vw;
  height: 20vw;
  border-radius: 12em;
}

.aboutDescription {
  display: flex;
  flex-direction: column;
  padding: 3em;
  padding-bottom: 1em;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  text-align: justify;
}

#socialLinks {
  margin-top: 2em;
  display: flex;
  justify-content: space-evenly;
  width: 75%;
}

.icon {
  color: black;
  font-size: 2em;
}

#socialLinksFooter {
  display: flex;
  width: 60%;
  justify-content: space-between;
}

.iconFooter {
  color: black;
  font-size: 1.5em;
}

.techBox {
  display: flex;
  padding: 3em;
  width: 1024px;
  padding-top: 1em;
}

#techSkills {
  margin-right: 3em;
  flex: 1;
}

#techGraphic {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  margin-top: 4em;
}

#laptopGraphic {
  height: 300px;
}

#techGraphicBox {
  display: flex;
  position: relative;
  bottom: 295px;
  width: 327px;
  height: 203px;
  align-items: center;
  justify-content: center;
}

#techGraphicLogo {
  height: 80%;
  max-width: 100%;
}

.skillButton {
  background-color: rgb(147, 184, 201);
  border: none;
  padding: 0.5em;
  margin: 0.25em;
  font-size: 14px;
}

.skillButton:hover {
  background-color: rgb(109, 175, 206);
}

.pageBreak {
  border-top: 1px solid black;
  width: 75%;
}

.underline {
  border-top: 2px solid black;
  width: 100px;
}

.underlineLong {
  border-top: 2px solid black;
  width: 150px;
}

.projectBox {
  display: flex;
  padding: 3em;
  width: 1024px;
  flex-wrap: wrap;
}

.project {
  display: flex;
  flex-direction: column;
  padding: 2em;
  padding-top: 1em;
  align-items: center;
  flex-basis: 50%;
}

.project > h4 {
  color: black;
  width: 80%;
  text-align: center;
}

.projectImg {
  max-width: 100%;
  max-height: 100%;
  border: solid rgb(147, 184, 201) 0.7em;
  border-radius: 1em;
}

.selectProject {
  margin-top: 1em;
}

.projectSelectorBox {
  margin-top: 1em;
  display: flex;
  width: 100%;
}

.projectSelectorBox div {
  flex-basis: 50%;
}

.projectSelector {
  box-sizing: content-box;
  width: 45vw;
  margin: 1em;
  padding: 0.5em;
  font-family: 'Open Sans', sans-serif;
}

.projectContent {
  display: flex;
}

.projectMediaBox {
  display: flex;
  justify-content: center;
  flex-basis: 50%;
  padding: 1em;
}

.projectMedia {
  width: 100%;
  border: solid rgb(147, 184, 201) 0.7em;
  border-radius: 1em;
}

.projectVideo {
  width: 45vw;
  height: 30vw;
  border: solid rgb(147, 184, 201) 0.7em;
  border-radius: 1em;
}

.projectInfo {
  padding: 1em;
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.projectName {
  margin: 0.5em;
  text-align: center;
}

.projectInfoTitle {
  margin-top: 0.5em;
  font-weight: bolder;
  font-size: 1.2em;
}

.projectLink {
  color: rgb(0, 135, 197);
}

.projectLink:hover {
  color: rgba(95, 81, 104, 0.5);
}

.captainsLogBox {
  margin: 1em;
  margin-top: 0;
  display: flex;
  justify-content: center;
}

.captainsLog {
  width: 95%;
}

.selectedNavHome {
  position: relative;
  right: 1px;
  border: 1px solid white;
  width: 50px;
  margin: 5px;
}

.selectedNavProjects {
  position: relative;
  left: 15px;
  border: 1px solid white;
  width: 50px;
  margin: 5px;
}

.selectedNavContact {
  position: relative;
  left: 12px;
  border: 1px solid white;
  width: 50px;
  margin: 5px;
}

.contactPage {
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contactPage > h2 {
  margin-top: 2em;
}

.contactBox {
  width: 35em;
  margin-top: 1em;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.sendButtonBox {
  display: flex;
  margin: 0;
  margin-right: 0.5em;
  justify-content: flex-end;
}

#sendButton:hover {
  background-color: rgb(99, 125, 138);
  cursor: pointer;
}

#sendButton {
  background-color: rgb(147, 184, 201);
  border: none;
  border-radius: 0.5em;
  padding: 0.5em;
  padding-left: 2em;
  padding-right: 2em;
  width: 20%;
  margin-top: 1.5em;
}

.padding {
  padding: 1em;
}

.spacerDiv {
  height: 2em;
  width: 100%;
}

#menu {
  display: none;
}

#slide {
  position: absolute;
  top: 1em;
  right: -100px;
  width: 9em;
  height: 20em;
  background: rgba(147, 184, 201, 0.9);
  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-delay: 0s;
  animation: slide 0.5s forwards;
  animation-delay: 0s;
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
}

@-webkit-keyframes slide {
  100% {
    right: 0;
  }
}

@keyframes slide {
  100% {
    right: 0;
  }
}

.menuLinks {
  display: flex;
  flex-direction: column;
}

.menuLink {
  text-decoration: none;
  color: white;
  margin: 1em;
  margin-bottom: 1.5em;
  margin-top: 1.5em;
}

.menuLink:hover {
  color: rgba(95, 81, 104, 0.5);
  cursor: pointer;
}

.navLinkStyle {
  text-decoration: none;
  color: white;
}

.navLinkStyle:hover {
  color: rgba(95, 81, 104, 0.5);
}

.experienceBox {
  display: flex;
  justify-content: space-around;
  width: 1024px;
  padding: 3em;
}

.experienceTitleBox {
  display: flex;
  justify-content: space-between;
  text-align: left;
}

.experiencePhotoBox:hover {
  opacity: 50%;
}

.experienceTitle {
  margin-bottom: 0.25em;
}

.datesBox {
  display: flex;
  align-items: center;
  margin-bottom: 0.25em;
}

.experiencePhotoBox {
  display: flex;
  align-items: center;
}

.experiencePhoto {
  width: 200px;
  height: 200px;
  border: LightGray solid 3px;
  border-radius: 12em;
}

.photoBorder {
  border: rgba(0, 0, 0, 0.5) solid 4px;
}

#experience {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.experienceDescription {
  display: flex;
  flex-direction: column;
  padding: 1em;
  width: 535px;
  text-align: justify;
}

.experiencePhotoBoxSmall {
  display: none;
}

.jobLink {
  font-weight: bold;
  color: rgb(0, 135, 197);
}

.jobLink:hover {
  color: rgba(95, 81, 104, 0.5);
}

@media only screen and (max-width: 1150px) {
  #title {
    font-size: 1.2em;
  }

  .navBar {
    height: 4em;
  }

  nav {
    height: 4em;
  }
}

@media only screen and (max-width: 1000px) {
  .projectMedia {
    height: 30vw;
  }

  nav {
    justify-content: space-between;
  }

  #title {
    margin: 0.25em;
    width: 100vw;
    min-width: 230px;
  }

  #titleLink {
    flex-direction: column;
  }

  #jobTitle {
    font-size: 0.76em;
  }

  #separator {
    display: none;
  }

  #navLinks {
    display: flex;
    align-content: center;
    justify-content: space-around;
    width: 100vw;
  }

  #navBar {
    height: 4em;
  }

  .aboutBox {
    width: 100%;
  }

  .aboutDescription {
    width: 80%;
  }

  #aboutPhoto {
    margin-bottom: 2em;
  }

  .techBox {
    width: 100%;
  }

  .techSkills {
    width: 80%;
  }

  #laptopGraphic {
    margin-top: 2em;
    height: 30vw;
  }

  #techGraphicBox {
    bottom: 29vw;
    left: 0;
    width: 40vw;
    height: 20vw;
  }

  .projectBox {
    width: 100%;
  }

  .experienceBox {
    width: 100%;
  }

  .experienceTitleBox {
    flex-direction: column;
  }

  .experiencePhoto {
    width: 15vw;
    height: 15vw;
  }
}

@media only screen and (max-width: 800px) {
  .projectMedia {
    height: 100%;
  }

  .navBar {
    background-size: auto;
  }

  #navLinks {
    display: none;
  }

  #menu {
    position: absolute;
    display: block;
    height: 20px;
    width: 20px;
    margin: 1.5em;
    top: 0;
    right: 0;
  }

  #menu:hover {
    filter: brightness(0.5);
  }

  nav {
    justify-content: space-around;
  }

  #title {
    margin: 0.25em;
    width: 100vw;
    min-width: 230px;
  }

  #titleLink {
    flex-direction: row;
    justify-content: left;
    margin-left: 5%;
    margin-right: 10%;
  }

  #jobTitle {
    font-size: 1em;
  }

  #separator {
    display: block;
  }

  .projectContent {
    flex-direction: column;
  }

  .projectVideo {
    width: 80%;
    height: 36vw;
    border: solid rgb(147, 184, 201) 0.7em;
    border-radius: 1em;
  }

  .captainsLogBox {
    margin-top: 1em;
    flex-direction: column;
  }

  .projectInfo {
    width: 90%;
    margin-left: 3em;
  }
}

@media only screen and (max-width: 700px) {
  .navBarHome {
    background-position: -160px;
  }

  .projectBox {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    height: 100%;
    padding-top: 1.5em;
  }

  .project {
    flex-basis: 0;
  }

  .contactBox {
    width: 75%;
  }

  #sendButton {
    width: 100px;
  }

  .experiencePhotoBox {
    align-items: flex-start;
    padding-top: 2em;
  }
}

@media only screen and (max-width: 600px) {
  .projectName {
    margin-top: 0;
  }

  .projectSelectorBox {
    margin-top: 0;
  }

  .projectVideo {
    width: 100%;
    height: 45vw;
  }

  nav {
    min-width: 230px;
    text-align: left;
  }

  #title {
    margin: 0.25em;
    width: 50%;
    min-width: 230px;
  }

  #titleLink {
    flex-direction: column;
  }

  #jobTitle {
    font-size: 0.76em;
  }

  #separator {
    display: none;
  }

  #navLinks {
    letter-spacing: 0.2em;
  }

  .sectionBox {
    justify-content: space-around;
  }

  .aboutBox {
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    align-items: center;
    padding: 0em;
    padding-top: 1.5em;
  }

  .aboutDescription {
    display: flex;
    padding: 2em;
    padding-top: 1.5em;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
  }

  #socialLinks {
    margin-top: 4em;
  }

  #aboutPhoto {
    width: 40vw;
    height: 40vw;
    margin: 0em;
  }

  .techBox {
    flex-direction: column-reverse;
    justify-content: space-around;
    height: 100%;
    align-items: center;
    padding: 0em;
    padding-top: 1.5em;
  }

  #techSkills {
    display: flex;
    flex-direction: column;
    margin-right: 0em;
    padding: 2em;
    padding-top: 1.5em;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
  }

  .skillsList {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
  }

  #techGraphicBox {
    bottom: 285px;
    width: 400px;
    height: 230px;
  }

  .techList {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  #techSkills {
    flex: 0;
  }

  #techGraphic {
    max-height: 300px;
    margin-top: 2em;
  }

  #laptopGraphic {
    height: 300px;
    margin-top: 0px;
  }

  .projectBox {
    padding: 1em;
  }

  .selectedNavHome {
    position: relative;
    right: 3px;
  }

  .selectedNavProjects {
    position: relative;
    left: 16px;
  }

  .selectedNavContact {
    position: relative;
    left: 15px;
  }

  footer {
    flex-wrap: wrap;
  }

  footer > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
  }

  #footerJesse {
    width: 100%;
    flex-basis: 100%;
  }

  .footerNavBox {
    margin: 1em;
    flex-basis: 40%;
  }

  .footerNav {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footerLinkBox {
    width: 100%;
    text-align: center;
  }

  #footerDescription {
    width: 204px;
  }

  #footerFollowBox {
    flex-basis: 40%;
    margin: 1em;
  }

  .experiencePhotoBoxSmall {
    display: flex;
    align-items: center;
    padding-top: 1em;
  }

  .experiencePhoto {
    min-width: 75px;
    min-height: 75px;
  }

  .experiencePhotoBox {
    display: none;
  }

  .experienceTitleBox {
    flex-direction: row;
  }

  .experienceTitleBoxSmall {
    margin-left: 2em;
    text-align: left;
  }

  .experienceBox {
    padding: 1em;
  }

  .projectSelectorBox {
    flex-direction: column;
  }

  .projectDropdownDiv {
    display: flex;
    justify-content: center;
  }

  .projectInfo {
    margin-left: 1em;
  }
}

@media only screen and (max-width: 400px) {
  #techGraphic {
    max-height: 240px;
  }

  #techGraphicBox {
    bottom: 230px;
    width: 320px;
    height: 185px;
  }

  #laptopGraphic {
    height: 240px;
    margin-top: 0px;
  }
}

@media only screen and (max-width: 390px) {
  .experienceDescription {
    text-align: left;
  }
}

@media only screen and (max-width: 374px) {
  .experienceTitleBox {
    flex-direction: column;
  }

  .experiencePhotoBoxSmall {
    justify-content: center;
  }
}

@media only screen and (max-width: 335px) {
  #footerFollowBox {
    flex-basis: 100%;
  }
}

@media only screen and (max-width: 290px) {
  nav {
    letter-spacing: 0.15em;
  }
}
